{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}
<a href ="https://www.drive2.ru/b/2732675/" target="_blank"> <img src="{% static 'app/content/mab.jpg' %}" alt="Logo 1"/></a>
<a href ="https://www.bmw.ru/ru/index.html?tl=sea:Yandex_Brand__o3wny-25epe_:Bmw|Broad:%D0%submit%D0%BC%D0%B2&yclid=6796680702844236152" target="_blank"> <img src="{% static 'app/content/bmw.jpg' %}" alt="Logo 1"/></a>
<a href ="https://cars.mercedes-benz.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=RUS_WS_MBC_Tactical_Individual_brand-image_general-ys&utm_term=%D0%BC%D0%B5%D1%80%D1%81%D0%B5%D0%B4%D0%B5%D1%81&utm_content=yx_cmp-51535072_adg-4180860650_ad-8983383617_kwd-20513488891_dev-desktop&yclid=6796731876839023222" target="_blank"> <img src="{% static 'app/content/mers.jpg' %}" alt="Logo 1"/></a>
{% endblock %}